<div class="wholePage">
  <!-- Header -->
  <div class="header">
    <img width="40" alt="Angular Logo" src="assets/icons/icon-72x72.png" />
    <span class="pageName"> Outil de surveillance de l'état du confinement COVID-19 </span>
    <div class="spacer"></div>
  </div>
  
  <!-- Content -->
  <div class="content">
    <!-- Side Bar -->
    <div class="side-bar">
      <div class="tab"> </div>
    </div>
    <div class="verticalWrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>