/* You can add global styles to this file, and also import other style files */
@import "~mapbox-gl/dist/mapbox-gl.css";
@import "~@mapbox/mapbox-gl-geocoder/lib/mapbox-gl-geocoder.css";
  html, body {
    height: 100%;
    margin: 0px;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.dark-mode {
  background-color: #222831;
  color: #ececec;
 // border-bottom: 1px solid #222831 !important;
}
.spacer {
  flex: 1;
}